
   <h1>Editing Book</h1>

 <div class="field">
    <label for="book_title">Title</label>
</div>

  <div class="field">
    <label for="book_body">Body</label>
  </div>

  <div class="actions">
    <input type="submit" name="commit" />
  </div>
</form>

<a class="show" href="">Show</a>
<a class="back" href="">Back</a>

  </body>
</html>

 <div class="header-logo">
   <a href="/"></a>
 </head>
 <body>
   <h1>Editing Book</h1>
　<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8">
<%= form_with book:@book do |f| %>
 <div class="field">
    <label for="book_title">Title</label>
 <%= f.text_field :title %>
</div>

  <div class="field">
    <label for="book_body">Body</label>
 <%= f.text_area :body %>
  </div>

  <div class="actions">
    <input type="submit" name="Update Book" />
   <%= f.submit 'Update Book' %>
<% end %>
  </div>
</form>

<a class="show" href="">Show</a>
<a class="back" href="">Back</a>

  </body>
</html>