<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href= "">
  <title>Bookers</title>
 <div class="header-logo">
   <a href="/"></a>
 </head>
 <body>
   <p id="notice">Book was successfully updated.</p>

<p>
<strong>Title:</strong>

</p>

<p>
  <strong>Body:</strong>

</p>

<a class="edit" href="edit">Edit</a>
<a class="back" href="/">Back</a>

  </body>
</html>
