<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href= "">
   <title>Bookers</title>

 <div class="header-logo">
   <a href="/"></a>
 </head>
 <body>
   <h1>Editing Book</h1>

 <div class="field">
    <label for="book_title">Title</label>
</div>

  <div class="field">
    <label for="book_body">Body</label>
  </div>

  <div class="actions">
    <input type="submit" name="commit" />
  </div>
</form>

<a class="show" href="">Show</a>
<a class="back" href="">Back</a>

  </body>
</html>
